@import "../../node_modules/rfs/sass"; //адаптивные шрифты
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers"; //hamburger animations
@import "base/var"; // переменные для переопределения бутстраповских
@import "../../node_modules/bootstrap/scss/bootstrap"; // css бутстрапа


@import "base/mixin";
// @import "base/normalize";
@import "base/typography";
@import "base/utilities";
// @import "components/accordeon";


@import "libs/animate";
@import "libs/grtyoutube-popup";
@import "libs/ion-rangeslider";
@import "libs/swiper.min";
@import "libs/nice-select";

@import "components/header";
@import "components/hero";
@import "components/btn";
@import "components/link";
@import "components/features";
@import "components/img-decorated";
@import "components/form";
@import "components/photo";

@import "components/page-colors";


// ==============================
// ОГЛАВЛЕНИЕ ДЛЯ ПОИСКА


// секции
// пагинация слайдера
// карточка (курса или сотрудника)
// отзывы
// новости

// =========================










// секции

.section-courses {
	margin: 0 0 220px 0;
	z-index: 1;
	.container {
		position: relative;
		z-index: 2;
	}
}
.section-form {
	margin: 0 0 320px 0;
}
.section-news {
	margin: 0 0 180px 0;
}
.section-team {
	position: relative;
	&::before {
		position: absolute;
		content: '';
		top: -900px;
		left: 0;
		width: 50vw;
		height: 55vw;
		pointer-events: none;
		background-image: url(/img/bg-page-deco/bg-team-deco.svg);
		background-size: contain;
		background-position: bottom left;
		background-repeat: no-repeat;
		z-index: -1;
	}
}



.slider-team {
	position: relative;
	margin: 0 -30px 0 -30px;
	z-index: 1;
	&::before {
		position: absolute;
		content: '';
		width: 25px;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 2;
		background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	}
	&::after {
		position: absolute;
		content: '';
		width: 25px;
		height: 100%;
		right: 0;
		top: 0;
		z-index: 2;
		background: rgb(255,255,255);
        background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	}
}






// пагинация слайдера

.theme-pagination {
	&.bottom-50 {
		bottom: 50px;
		left: -25px;
		top: auto;
	}
	&.bottom-30 {
		bottom: 30px;
		top: auto;
	}
	.swiper-pagination-bullet {
		opacity: 1;
		width: 12px;
		height: 12px;
		margin: 0 6px !important;
		transition: 300ms;
	}

	&.pagination-white {
		.swiper-pagination-bullet {
			background-color: #fff;
		}
		.swiper-pagination-bullet-active {
			background-color: $secondary;
			box-shadow: 0 0 0 3px $secondary;
		}
	}
	&.pagination-blue {
		.swiper-pagination-bullet {
			background-color: $primary;
		}
		.swiper-pagination-bullet-active {
			background-color: $secondary;
			box-shadow: 0 0 0 3px $secondary;
		}
	}
}











// карточка
// карточка курса

.theme-card {
	position: relative;
	border-radius: 8px;
	box-shadow: 0 0 25px 1px rgba(0,0,0,.12);
	padding: 20px;
	background-color: #fff;
	overflow: hidden;
	&.price-card {
		min-height: 620px;
		@include flex-col(nowrap,flex-start,center);
		.card-image {
			width: 120%;
		}
		p, .card-price {
			width: 100%;
		}
		.card-price {margin-top: auto;}

	}
	&.team-person {
		padding: 35px 15px 35px 160px;
		.card-image {
			margin: 0;
			width: 180px;
			height:180px;
			background-position: top left;
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			left: -40px;
    		top: -35px;
		}
	}
}
.card-image {
	margin: -20px -20px 20px -20px;
	height: 278px;
	flex: 0 0 278px;
	@include bg-cover;
}
.card-price {
	padding: 15px 0 0 0;
	margin: 0 0 20px 0;
	border-top: 1px dashed #C5E8FF;
	@include flex-row(nowrap, space-between, flex-end);
	i {
		font-style: normal;
	}
}







// отзывы

.feedback-list {}
.feedback-item {
	&.photo-left {
		.feedback-person {
			margin: 0 200px 0 0;
		}
		.feedback-item-line {
			position: absolute;
			top: -160px;
			left: 22%;
			width: 55%;
			height: 220px;
		}
		.feedback-text {
			&::before {
				background-image: url(/img/bg/bg-feedback-text-1.png);
			}
		}
	}
	&.photo-right {
		.feedback-person {
			margin: 0 0 0 200px;
		}
		.feedback-item-line {
			position: absolute;
			bottom: -160px;
			right: 22%;
			width: 55%;
			height: 220px;
		}
		.feedback-text {
			&::before {
				background-image: url(/img/bg/bg-feedback-text-2.png);
			}
		}
	}
	position: relative;
	@include flex-row(nowrap,space-between, center);
	z-index: 1;
}
.feedback-person {
	flex: 0 0 25%;
	z-index: 1;
	position: relative;
	img {
		z-index: 2;
	}
	.feedback-person-deco {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 120%;
		height: 120%;
		z-index: -1;
		svg {
			width: 100%;
			height: 100%;
		}
	}
}
.feedback-text {
	position: relative;
	z-index: 1;
	&::before {
		position: absolute;
		content: '';
		width: 240%;
		height: 240%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-image: url(/img/bg/bg-feedback-text-1.png);
		@include bg-contain;
		z-index: -1;
	}
}







// новости

.news-thumb {
	text-decoration: none;
	&.news-thumb-big {
		flex: 1 1 50%;
		.photo {
			height: 419px;
			width: 100%;
			border-radius: 8px;
			margin-bottom: 12px;
		}
		.news-thumb-description {display: none;}
	}
	&.news-thumb-small {
		@include flex-row(nowrap,flex-start,flex-start);
		flex: 1 1 50%;
		height: 200px;
		margin-bottom: 30px;
		.photo {
			height: 190px;
			flex: 0 0 45%;
			margin: 0 30px 0 0;
			border-radius: 8px;
		}

	}
	p { transition: 300ms;}
	&:hover {
		text-decoration: none;
		.photo-zoomer {
		transform: translateX(-49%) translateY(-51%);
			&::before {
				opacity: .65;
	    		left: -195%;
			}
			&::after {
				opacity: .25;
			}
		}
		p {
			color: $secondary;
		}
		.news-date-text {
			color: gray;
		}
		svg path {
			fill: gray;
		}
	}
}
.news-thumb-description {}
.news-date {
	margin-bottom: 12px;
	@include flex-row(nowrap,flex-start,center);
	svg {
		margin-right: 10px;
		path {
			transition: 300ms;
		}
	}
}
.news-date-text {line-height: .8;}





// футер

.footer {
	position: relative;
	z-index: 1;
	&::before {
		position: absolute;
		content: '';
		bottom: -3%;
		left: 50%;
		transform: translateX(-50%);
		height: 736px;
		width: 100%;
		z-index: -1;
		pointer-events: none;		
		background-size: cover;
		background-position: bottom center;
	}
	.socials {
		@include flex-row(nowrap,flex-end,center);
		flex: 0 0 315px;
	}
	.socials-text {
		flex: 0 0 190px;
		max-width: 190px;
		margin-right: 20px;
	}
	.socials-icons {
		@include flex-row(nowrap,flex-end,center);
		flex: 0 0 106px;
		max-width: 106px;
		.socials-icon {
			position: relative;
			margin-right: 15px;
			svg path {
				transition: 300ms;
			}
			&:last-child {margin-right: 0;}
			&:hover  {
				svg path {
					fill: $secondary;
				}
			}
		}
	}
	// .footer-deco {
	// 	position: absolute;
	// 	bottom: -3%;
	// 	left: 50%;
	// 	transform: translateX(-50%);
	// 	height: 736px;
	// 	width: 170%;
	// 	z-index: -1;
	// 	pointer-events: none;
	// 	svg {
	// 		position: absolute;
	// 		width: 100%;
	// 		height: 100%;
	// 		left: 50%;
	// 		bottom: 0;
	// 		transform: translateX(-50%);
	// 	}
	// }
}
.footer-topbar {
	@include flex-row(nowrap,space-between,center);
	margin-bottom: 47px;
	p {
		line-height: 1.3;
	}
	.form-holder {
		flex-grow: 1;
		margin-right: 54px;
		@include flex-row(nowrap,space-between,center);
		p {
			flex: 0 0 190px;
			max-width: 190px;
		}
	}
	.form-signup {
		margin-left: auto;
		@include flex-row(nowrap,flex-end,center);
		flex-grow: 1;
		.form-label,
		.btn {
			height: 45px;
		}
		.form-label {
			flex: 1 0 316px;
			max-width: 340px;
		}
	}
}
.footer-bottombar {
	border-top: 2px dashed rgba(255,255,255,.2);
	@include flex-row(nowrap,space-between,center);
	padding: 28px 0;

}





.footer {
	.footer-deco {
		
	}
}


.deco-gear {
	position: absolute;
	border-radius: 50%;
	z-index: -1;
	@include bg-contain;
}





// брейкпоинты
// 1200
@include media-breakpoint-down(lg) {
	.header {
		.logo {
		    flex: 0 0 170px;
		    width: 170px;
		    height: 36px;
		    &::before {
		    	width: 700px;
    			height: 464px;
		    }
		}
		.header-nav {
			margin: 0 30px 0 auto;
		}
		.header-nav-link {
			padding: 5px 8px;
		}
	}
	.hero {
		margin-top: 70px;
	}
	.theme-card {
		box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.12) !important;
	}

	.feedback-text {
		&::before {
			width: 170%;
			height: 170%;
		}
	}
}

// 992
@include media-breakpoint-down(md) {
	.header {
		.header-nav {
			display: none;
		}
		.header-tel {
			margin: 0 40px 0 auto;
		}
	}

	.hero {
		margin-bottom: 200px;
		&::before {
			opacity: .1;
		}
	}

	.theme-card.price-card {
		min-height: 550px;
		.card-image {
			height: 200px;
			flex: 0 0 200px;
		}
	}


	
	.feedback-item {
		.feedback-person {
			margin: 0 60px 0 0 !important;
		}
	}
	.feedback-text {
		&::before {
			display: none;
		}
	}
	.feedback-item-line {display: none;}

	.news-thumb.news-thumb-big {
		display: block;
		margin-bottom: 30px;
	}
}

// 768
@include media-breakpoint-down(sm) {
	.theme-card.price-card {
		height: 530px;
		// flex: 0 0 530px;
	}
	.feedback-item.photo-right {
		.feedback-text {
			margin: 0 40px 0 0;
		}
	}
}

// 568
@include media-breakpoint-down(xs) {
	.header {
		height: 65px;
		.logo {
		    flex: 0 0 150px;
		    width: 150px;
		    height: 32px;
		    &::before {
		    	width: 580px;
			    height: 297px;
			    right: -63px;
			    top: -26px;
		    }
		}
		.btn-burger {
			margin-left: auto;
		}
		.header-tel {
			display: none;
		}
	}
	.hero {
		margin-top: 40px;
	}

	.theme-card.price-card {
		height: 450px;
	}


	.feedback-item {
		@include flex-row(wrap,flex-start,flex-start);
		padding: 20px;
		background-color: #fff0f0;
		text-align: center;
		border-radius: 8px;
		.feedback-person {
			flex: 0 0 80px;
			margin: 10px auto 30px auto !important;
		}
		.feedback-text {
			flex: 1 1 100%;
			margin: 0 !important;
		}

		&.photo-right {
			.feedback-person {
				order: -1;
			}
		}
		&.mb-5 {
			margin-bottom: 20px !important;
		}
	}

}

// 414
@include media-breakpoint-down(xxs) {
	.theme-card.team-person {
		padding: 165px 30px 30px 30px;
		.card-image {
			top: -35px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}