// для добавления цвета пройтись по блокам:

// accoredeon
// header
// hero
// btn
// footer
// img-decorated
// utilities




@import "../../node_modules/rfs/sass"; //адаптивные шрифты
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers"; //hamburger animations
@import "../../node_modules/pretty-checkbox/dist/pretty-checkbox.min"; //beautiful checkboxes
@import "base/var"; // переменные для переопределения бутстраповских
@import "../../node_modules/bootstrap/scss/bootstrap"; // css бутстрапа


@import "base/mixin";
// @import "base/normalize";
@import "base/typography";
@import "base/utilities";
// @import "components/accordeon";


@import "libs/animate";
@import "libs/grtyoutube-popup";
@import "libs/ion-rangeslider";
@import "libs/swiper.min";
@import "libs/nice-select";

@import "components/header";
@import "components/footer";

@import "components/hero";
@import "components/btn";
@import "components/link";
@import "components/features";
@import "components/img-decorated";
@import "components/form";
@import "components/photo";
@import "components/modal";
@import "components/to-top";
@import "components/section";
@import "components/accordeon";
@import "components/price";
@import "components/filters";
@import "components/breadcrumbs";
@import "components/badges";

@import "components/page-colors";


// ==============================
// ОГЛАВЛЕНИЕ ДЛЯ ПОИСКА


// секции
// пагинация слайдера
// карточка (курса или сотрудника)
// отзывы
// новости

// =========================


	.quant-counter {
		position: relative;
		display: inline-block;
		z-index: 1;
		&__holder {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		right: 0;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		transform: translateY(-6px) translateX(0px);
		background-color: $secondary;
		z-index: 2;
		color: white;
		font-size: 13px;
		// font-weight:600;
		// box-shadow: 0 0 15px 0 rgba(0,0,0,.2);

		}
	}



.soc {
	@include flex-row(nowrap, center, center);
}
.soc__icon {
	width: 36px;
	height: 36px;
	margin: 0px;
	background-size: 24px;
	background-position: center center;
	background-repeat: no-repeat;
	transition: 200ms;
	&:hover {
		transform: scale(1.15);
	}
	&-wa {
		background-image: url(/img/icons/i-wa.png);
	}
	&-ig {
		background-image: url(/img/icons/i-ig.png);
		opacity: .8;
	}
}

@media screen and (max-width: 1200px) {
	.soc__icon {
		width: 30px;
		height: 30px;
		background-size: 22px;
	}
}








.slider-team {
	position: relative;
	margin: 0 -30px 0 -30px;
	z-index: 1;
	&::before {
		position: absolute;
		content: '';
		width: 25px;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 2;
		background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	}
	&::after {
		position: absolute;
		content: '';
		width: 25px;
		height: 100%;
		right: 0;
		top: 0;
		z-index: 2;
		background: rgb(255,255,255);
        background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	}
}
.inner-page {
	.slider-team {
		&::before,
		&::after {
			display: none;
		}
	}
}






// пагинация слайдера

.theme-pagination {
	&.bottom-50 {
		bottom: 50px;
		left: -25px;
		top: auto;
	}
	&.bottom-30 {
		bottom: 30px;
		top: auto;
	}
	.swiper-pagination-bullet {
		opacity: 1;
		width: 12px;
		height: 12px;
		margin: 0 6px !important;
		transition: 300ms;
	}

	&.pagination-white {
		.swiper-pagination-bullet {
			background-color: #fff;
		}
		.swiper-pagination-bullet-active {
			background-color: $secondary;
			box-shadow: 0 0 0 3px $secondary;
		}
	}
	&.pagination-blue {
		.swiper-pagination-bullet {
			background-color: $primary;
		}
		.swiper-pagination-bullet-active {
			background-color: $secondary;
			box-shadow: 0 0 0 3px $secondary;
		}
	}
}











// карточка
// карточка курса

.theme-card {
	position: relative;
	border-radius: 8px;
	box-shadow: 0 0 12px 1px rgba(0,0,0,.13);
	padding: 20px;
	background-color: #fff;
	overflow: hidden;
	&.price-card {
		z-index: 1;
		@include flex-col(nowrap,flex-start,center);
		height: 100%;
		overflow: visible;
		.card-image:hover {
			.card-image__zoom {
				transform: scale(1.075);
			}
		}

		p, .card-price {
			width: 100%;
		}
		.card-price {margin: auto 0 1.5rem 0;}

	}
	&.team-person {
		padding: 35px 15px 35px 160px;
		.card-image {
			margin: 0;
			width: 180px;
			height:180px;
			background-position: top left;
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			left: -40px;
    		top: -35px;
		}
	}
}
.card-image {
	position: relative;
	width: calc(100% + 40px);
	margin: -20px -20px 20px -20px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	height: 248px;
	flex: 0 0 248px;
	overflow: hidden;

	&__zoom {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include bg-cover;
		transition: 300ms;
	}
}
.card-price {
	padding: 15px 0 0 0;
	margin: 0 0 0 0;
	border-top: 1px dashed #C5E8FF;
	@include flex-row(nowrap, space-between, flex-end);
	i {
		font-style: normal;
	}
}







// отзывы

.feedback-list {}
.feedback-item {
	&.photo-left {
		.feedback-person {
			margin: 0 200px 0 0;
		}
		.feedback-item-line {
			position: absolute;
			top: -160px;
			left: 22%;
			width: 55%;
			height: 220px;
		}
		.feedback-text {
			&::before {
				background-image: url(/img/bg/bg-feedback-text-1.png);
			}
		}
	}
	&.photo-right {
		.feedback-person {
			margin: 0 0 0 200px;
		}
		.feedback-item-line {
			position: absolute;
			bottom: -160px;
			right: 22%;
			width: 55%;
			height: 220px;
		}
		.feedback-text {
			&::before {
				background-image: url(/img/bg/bg-feedback-text-2.png);
			}
		}
	}
	position: relative;
	@include flex-row(nowrap,space-between, center);
	z-index: 1;
}
.feedback-person {
	flex: 0 0 25%;
	z-index: 1;
	position: relative;
	img {
		z-index: 2;
	}
	.feedback-person-deco {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 120%;
		height: 120%;
		z-index: -1;
		svg {
			width: 100%;
			height: 100%;
		}
	}
}
.feedback-text {
	position: relative;
	z-index: 1;
	&::before {
		position: absolute;
		content: '';
		width: 240%;
		height: 240%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-image: url(/img/bg/bg-feedback-text-1.png);
		@include bg-contain;
		z-index: -1;
	}
}







// новости

.news-thumb {
	text-decoration: none;
	&.news-thumb-big {
		flex: 1 1 50%;
		.photo {
			height: 419px;
			width: 100%;
			border-radius: 8px;
			margin-bottom: 12px;
		}
		.news-thumb-description {display: none;}
	}
	&.news-thumb-small {
		@include flex-row(nowrap,flex-start,flex-start);
		flex: 1 1 50%;
		height: 200px;
		margin-bottom: 30px;
		.photo {
			height: 190px;
			flex: 0 0 45%;
			margin: 0 30px 0 0;
			border-radius: 8px;
		}

	}
	p { transition: 300ms;}
	&:hover {
		text-decoration: none;
		.photo-zoomer {
		transform: translateX(-49%) translateY(-51%);
			&::before {
				opacity: .65;
	    		left: -195%;
			}
			&::after {
				opacity: .25;
			}
		}
		p {
			color: $secondary;
		}
		.news-date-text {
			color: gray;
		}
		svg path {
			fill: gray;
		}
	}
}
.news-thumb-description {}
.news-date {
	margin-bottom: 12px;
	@include flex-row(nowrap,flex-start,center);
	svg {
		margin-right: 10px;
		path {
			transition: 300ms;
		}
	}
}
.news-date-text {line-height: .8;}








.deco-gear {
	position: absolute;
	border-radius: 50%;
	z-index: -1;
	@include bg-contain;
	transition: 1200ms;
	animation-play-state: paused;	
}
@keyframes anim-rocket-body {
	0% {
		transform: translateX(2px);
	}
	10% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(1px) translateY(1px);
	}
	30% {
		transform: translateX(0px) translateY(0px);
	}
	40% {
		transform: translateX(1px);
	}
	50% {
		transform: translateX(0px);
	}
	60% {
		transform: translateX(2px);
	}
	70% {
		transform: translateX(0px) translateY(1px);
	}
	80% {
		transform: translateX(1px) translateY(0px);
	}
	90% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(2px);
	}
}

@keyframes anim-rocket-fire {
	0% {
		transform: translateX(2px);
	}
	10% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(1px) translateY(1px);
	}
	30% {
		transform: translateX(0px) translateY(0px);
	}
	40% {
		transform: translateX(1px);
	}
	50% {
		transform: translateX(0px);
	}
	60% {
		transform: translateX(2px);
	}
	70% {
		transform: translateX(0px) translateY(1px);
	}
	80% {
		transform: translateX(1px) translateY(0px);
	}
	90% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(2px);
	}
}





.mobile-menu {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 995;
	background-color: #fff;
	overflow-y: auto;
	transition: 300ms;
	&.hidden {
		transform: scale(0.8);
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		.header-tel {
			opacity: 0;
			transition-delay: 0ms !important;
			transform: translateY(-8px);
		}
		.header-nav-link {
			transition: 0ms !important;
			transform: translateX(10px);
		}
		.btn {
			opacity: 0;
			transform: translateY(10px);
			transition-delay: 0ms !important;
		}
	}
	.mobile-menu-content {
		padding: 140px 20px 20px 20px;
		background-image: url(/img/bg/bg-rocket-mobile-menu.png );
		background-size: 320px;
		background-position: 5% 100%;
		background-repeat: no-repeat;
	}
	// display: none;
	.logo {
		display: block;
		margin: 0 auto 70px auto;
		width: 100%;
	}
	.header-nav {
		margin: 0 0 60px 0;
	}
	.header-nav-link {
		display: block;
		@include font-size(28);
		margin: 0 0 15px 0;
		text-align: center;
		transition: 200ms;
		&:hover {text-decoration: none;}

		&:nth-of-type(1) {transition-delay: 400ms}
		&:nth-of-type(2) {transition-delay: 500ms}
		&:nth-of-type(3) {transition-delay: 600ms}
		&:nth-of-type(4) {transition-delay: 700ms}
		&:nth-of-type(5) {transition-delay: 800ms}
		&:nth-of-type(6) {transition-delay: 900ms}
		&:nth-of-type(7) {transition-delay: 1000ms}
		&:nth-of-type(7) {transition-delay: 110ms}
		&:nth-of-type(8) {transition-delay: 1200ms}
		&:nth-of-type(9) {transition-delay: 1300ms}
		// font-family: $font-primary;
	}
	.btn {
		transform: translateY(0);
		opacity: 1;
		transition-delay: 1000ms;
	}
	.header-tel {
		display: block;
		text-align: center;
		padding: 0px 0 0 0;
		transition: 300ms;
		transition-delay: 200ms;
		@include font-size(24);
		font-family: $font-primary;
		&:hover {text-decoration: none;}
	}
}




// брейкпоинты
// 1200
@include media-breakpoint-down(lg) {
	.header {
		.logo {
		    flex: 0 0 170px;
		    width: 170px;
		    height: 36px;
		    &::before {
		    	width: 700px;
    			height: 464px;
		    }
		}
		.header-nav {
			margin: 0 10px 0 auto;
		}
		.header-nav-link {
			padding: 5px 8px;
		}
	}
	.hero {
		margin-top: 70px;
	}
	.theme-card {
		box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.12) !important;
	}

	.feedback-text {
		&::before {
			width: 170%;
			height: 170%;
		}
	}

	// footer
	.footer-topbar {
		.form-holder {
			flex: 1 1 100%;
		}
		.socials {
			flex: 0 0 106px;
		}
		.socials-text {
			display: none;
		}
	}
}

// 992
@include media-breakpoint-down(md) {
	.wrapper {
		padding-top: 102px;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
		background: rgba(255,255,255,.96);
		box-shadow: 0 0 15px 0 rgba(0,0,0,.08);
		.soc {
			margin: 0 20px 0 auto;
		}
		.header-nav {
			display: none;
		}
		.header-tel {
			margin: 0 40px 0 0;
		}
	}

	.hero {
		margin-bottom: 200px;
		&::before {
			opacity: .1;
		}
	}

	.theme-card.price-card {
		// min-height: 550px;
		.card-image {
			height: 200px;
			flex: 0 0 200px;
		}
	}


	
	.feedback-item {
		.feedback-person {
			margin: 0 60px 0 0 !important;
		}
	}
	.feedback-text {
		&::before {
			display: none;
		}
	}
	.feedback-item-line {display: none;}

	.news-thumb.news-thumb-big {
		display: block;
		margin-bottom: 30px;
	}


	// footer
	.footer {
		&::before {
			height: 1000px;
		}
	}


	// footer
	.footer-topbar {
		.form-holder {
			@include flex-row(wrap,flex-start, flex-start);
			flex: 1 1 100%;
			margin: 0 15px 0 0;
			padding: 30px 18px;
			border-radius: 8px;
			background-color: rgba(255,255,255,.07);
			p {
				flex: 1 1 100%;
				max-width: 1000px;
				margin: 0 0 10px 0 !important;
				text-align: center;
			}
			.form-label {
				max-width: 360px;
			}
		}
		.socials {
			flex: 0 0 136px;
			@include flex-row(wrap,center,center);
		}
		.socials-text {
			display: block;
			flex: 1 1 100%;
			margin: 0 0 10px 0 !important;
			text-align: center;
			@include font-size(12);
		}
	}
}

// 768
@include media-breakpoint-down(sm) {
	.header {
		.soc {
			display: none;
		}
		.header-tel {
			margin: 0 0px 0 auto;
		}
	}
	// .theme-card.price-card {
		// height: 530px;
		// flex: 0 0 530px;
	// }
	.feedback-item.photo-right {
		.feedback-text {
			margin: 0 40px 0 0;
		}
	}

	// footer
	.footer {
		z-index: 0;
		&::before {
			width: 195%;
			height: 1495px;
			background-position: 53% 100%;
		}
		.row {
			.col-12:first-child {
				margin-bottom: 30px;
			}
		}
	}
	.footer-topbar {
		@include flex-row(wrap,center,flex-start);
		.form-signup {
			@include flex-row(nowrap,center,flex-start);
		}
		.form-holder {
			margin: 0 0 20px 0;
			.form-label {
				flex: 0 1 280px;
				max-width: 280px;
			}
		}
		.socials-text {
			display: none;
		}
	}

}

// 568
@include media-breakpoint-down(xs) {
	.header {
		height: 65px;
		.logo {
		    flex: 0 0 150px;
		    width: 150px;
		    height: 32px;
		    &::before {
		    	width: 580px;
			    height: 297px;
			    right: -63px;
			    top: -26px;
		    }
		}
		.btn-burger {
			margin-left: auto;
		}
		.header-tel {
			margin-left: auto;
		}
	}
	.hero {
		margin-top: 40px;
	}

	.theme-card.price-card {
		height: auto;
	}


	.feedback-item {
		@include flex-row(wrap,flex-start,flex-start);
		padding: 20px;
		background-color: #fff0f0;
		text-align: center;
		border-radius: 8px;
		.feedback-person {
			flex: 0 0 80px;
			margin: 10px auto 30px auto !important;
		}
		.feedback-text {
			flex: 1 1 100%;
			margin: 0 !important;
		}

		&.photo-right {
			.feedback-person {
				order: -1;
			}
		}
		&.mb-5 {
			margin-bottom: 20px !important;
		}
	}

	// новости
	.news-thumb {
		&.news-thumb-small {
			@include flex-row(wrap,flex-start,flex-start);
			flex: 1 1 100%;
			height: auto;
			margin-bottom: 30px;
			.photo {
				height: 190px;
				flex: 1 1 100%;
				margin: 0 0 10px 0;
				border-radius: 8px;
			}
			.news-thumb-description {
				display: none;
			}
		}
		p { transition: 300ms;}
		&:hover {
			text-decoration: none;
			.photo-zoomer {
			transform: translateX(-49%) translateY(-51%);
				&::before {
					opacity: .65;
		    		left: -195%;
				}
				&::after {
					opacity: .25;
				}
			}
			p {
				color: $secondary;
			}
			.news-date-text {
				color: gray;
			}
			svg path {
				fill: gray;
			}
		}
	}
	.news-thumb-description {}
	.news-date {
		margin-bottom: 12px;
		@include flex-row(nowrap,flex-start,center);
		svg {
			margin-right: 10px;
			path {
				transition: 300ms;
			}
		}
	}
	.news-date-text {line-height: .8;}

	.footer {
		&::before {
			width: 295%;
			height: 1895px;
		}
	}
	.footer-topbar {
		.form-signup {
			@include flex-row(wrap,center,flex-start);
			.form-label {
				flex: 1 1 100% !important;
				max-width: 100% !important;
				margin: 0 0 15px 0 !important;
				input {text-align: center;}
			}
			button {
				flex: 1 1 100% !important;
				max-width: 100% !important;
			}
		}
		.form-holder {
			margin: 0 0 20px 0;
			.form-label {
				flex: 0 1 280px;
				max-width: 280px;
			}
		}
	}


}

// 414
@include media-breakpoint-down(xxs) {
	.theme-card.team-person {
		padding: 165px 30px 30px 30px;
		.card-image {
			top: -35px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.footer-bottombar {
		@include flex-row(wrap,center,center);
		span,a {
			flex: 1 1 100%;
			margin: 1px 0;
			@include font-size(13);
			opacity: .8;
		}
	}
	.mobile-menu {
		.mobile-menu-content {
			background-size: 350px;
			background-position: right 75%;
		}
	}
}
@media screen and (max-width: 321px) {
	.mobile-menu {
		.header-nav-link {
			margin: 0 0 15px 0;
		}
		.mobile-menu-content {
			background-size: 310px;
			background-position: right 65%;
		}
	}
}