@import "../../node_modules/rfs/sass"; //адаптивные шрифты
@import "base/var"; // переменные для переопределения бутстраповских
@import "../../node_modules/bootstrap/scss/bootstrap"; // css бутстрапа


@import "base/mixin";
// @import "base/normalize";
@import "base/typography";
@import "base/utilities";
// @import "components/accordeon";


@import "libs/animate";
@import "libs/grtyoutube-popup";
@import "libs/ion-rangeslider";
@import "libs/swiper.min";

@import "components/btn";


h2 {}

h1 {
    color: black;
    background-repeat: no-repeat;
}





// брейкпоинты
@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}

@include media-breakpoint-down(xxs) {}