
body {
    // font-family: $font-secondary;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: $font-primary;
}

h1 { @include font-size(60); }
h2 { @include font-size(50); }
h3 { @include font-size(40); }
h4 { @include font-size(34); }
h5 { @include font-size(28); }
h6 { @include font-size(24); }


p {
    // margin-top: 0;
    // margin-bottom: $gutter;
}


a {
    color: #666;
    text-decoration: none;
    cursor: pointer;

    &:visited { 
        color: #666; 
    }
    &:focus,
    &:active { 
        background-color: transparent;
    }
    &:hover { 
        text-decoration: underline;
    }
}



table {
    width: 100%;
    margin: 40px 0;

    thead {
        font-weight: bold;
        color: black !important;
        text-transform: uppercase;
        td {background-color: gray !important;}
    }
}

p+table,
ol+table,
ul+table,
ol+table {
    margin: 30px 0 40px 0;
}

table tr {
    @include font-kit(18px, 17px, 16px, 15px, 14px);
    @include line-height-kit(1.15, 1.20, 1.3, 1.4, 1.55);
    position: relative;
    transition: 300ms;
        // &:hover {
        //     td {
        //         background-color: gray !important;
        //     }
        // }
    td {
        padding: 10px 15px;
        transition: 300ms;
    }
    &:nth-child(even) {
        td {
            background-color: #efefef;
        }
    }
    &:nth-child(odd) {
        td {
            background-color: transparent;
        }
    }
}



// LISTS

ul {
    padding-left: 2px;
    margin: 40px 0 40px 0;
    li {
        position: relative;
        margin-bottom: 10px;
        padding: 0 0 0 40px;
        list-style: none;

        &::before {
            // поведение
            @include pseudo;
            left: 3px;
            top: 10px;
            width: 10px;
            height: 10px;

            // стили
            background-color: yellow;
            border-radius: 50%;

        }


        ul {
            margin: 18px 0 18px 0;
            li {
                // поведение
                padding: 0 0 0 30px;
                &::before {
                    // поведение
                    width: 8px;
                    height: 8px;

                    // стили
                    background-color: gray;
                }
            }
        }
    }
}


ol{
    padding-left: 0;
    margin-left: 0px;
    counter-reset: myCounter;
    li{
        position: relative;
        margin-bottom: 10px;
        padding: 0px 0 0 3px;
        list-style: none;

        &:before {
          counter-increment: myCounter;
          content:counter(myCounter);

            // поведение
          display: inline-block;
          margin: 5px 10px;
          width: 26px;
          height: 26px;

          // стили
          background-color: gray;
          color: black;
          text-align: center;
          line-height: 24px;
          font-size: 16px;
          font-weight: 600;
        }
    }

    ol{
        margin: 10px 0 10px 30px;
        counter-reset: myCounter;
        li{
            &:before {
              counter-increment: myCounter;
              content:counter(myCounter);

                // поведение
              display: inline-block;
              margin: 5px 10px;
              width: 22px;
              height: 22px;

              // стили
              background-color: transparent;
              color: gray;
              text-align: center;
              line-height: 22px;
              font-size: 16px;
              font-weight: 600;
            }
        }
    }
}





