
body {
    font-family: $font-secondary;
    color: #2E2E2E;
    font-weight: 400;
    @include font-size(14);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary;
}


h1 { @include font-size(34); }
h2 { @include font-size(32); } 
h3 { @include font-size(28); }
h4 { @include font-size(24); }
h5 { @include font-size(20); }

.h1 { @include font-size(34); }
.h2 { @include font-size(32); } 
.h3 { @include font-size(28); }
.h4 { @include font-size(24); }
.h5 { @include font-size(20); }

p {
    // margin-top: 0;
    // margin-bottom: $gutter;
}


a {
    color: #666;
    text-decoration: none;
    cursor: pointer;

    &:visited { 
        color: #666; 
    }
    &:focus,
    &:active { 
        background-color: transparent;
    }
    &:hover { 
        text-decoration: underline;
    }
}



table {
    width: 100%;
    margin: 40px 0;

    thead {
        font-weight: bold;
        color: black !important;
        text-transform: uppercase;
        td {background-color: gray !important;}
    }
}

p+table,
ol+table,
ul+table,
ol+table {
    margin: 30px 0 40px 0;
}

table tr {
    td {
        padding: 10px 15px;
        transition: 300ms;
    }
    &:nth-child(even) {
        td {
            background-color: #efefef;
        }
    }
    &:nth-child(odd) {
        td {
            background-color: transparent;
        }
    }
}



// LISTS

ul {
    padding-left: 2px;
    // margin: 40px 0 40px 0;
    li {
        position: relative;
        margin-bottom: 8px;
        padding: 0 0 0 16px;
        list-style: none;
        line-height: 1.35;

        &::before {
            // поведение
            @include pseudo;
            left: 3px;
            top: 6px;
            width: 6px;
            height: 6px;

            // стили
            background-color: $secondary;
            border-radius: 50%;

        }


        ul {
            margin: 18px 0 18px 0;
            li {
                // поведение
                padding: 0 0 0 30px;
                &::before {
                    // поведение
                    width: 8px;
                    height: 8px;

                    // стили
                    background-color: gray;
                }
            }
        }
    }
}


ol{
    padding-left: 0;
    margin-left: 0px;
    counter-reset: myCounter;
    li{
        position: relative;
        margin-bottom: 10px;
        padding: 0px 0 0 3px;
        list-style: none;

        &:before {
          counter-increment: myCounter;
          content:counter(myCounter);

            // поведение
          display: inline-block;
          margin: 5px 10px;
          width: 26px;
          height: 26px;

          // стили
          background-color: gray;
          color: black;
          text-align: center;
          line-height: 24px;
          font-size: 16px;
          font-weight: 600;
        }
    }

    ol{
        margin: 10px 0 10px 30px;
        counter-reset: myCounter;
        li{
            &:before {
              counter-increment: myCounter;
              content:counter(myCounter);

                // поведение
              display: inline-block;
              margin: 5px 10px;
              width: 22px;
              height: 22px;

              // стили
              background-color: transparent;
              color: gray;
              text-align: center;
              line-height: 22px;
              font-size: 16px;
              font-weight: 600;
            }
        }
    }
}



.checklist {
  li {
    position: relative;
    padding: 0 0 0 25px;
    @include font-size(16);
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 2px;
      width: 16px;
      height: 16px;
      background-image: url(/img/icons/i-checkmark-yellow.svg);
      background-color: transparent !important;
      @include bg-contain;    
    }
  }
  &.checklist_pricing {
    @include flex-row(wrap, flex-start, flex-start);
    li {
      flex: 0 0 50%;
      margin: 0 0 25px 0;
      padding: 0 25px 0 25px;
    }
  }
  &.text-white {
    li {
      &::before {
        background-image: url(/img/icons/i-checkmark-white.svg);
      }
    }
  }
}





@media screen and (max-width: 1200px) {
  .checklist {
    &.checklist_pricing {
      li {
        flex: 0 0 100%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .checklist {
    &.checklist_pricing {
      li {
        flex: 0 0 50%;
      }
    }
  }
}


@media screen and (max-width: 414px) {
  .checklist {
    &.checklist_pricing {
      li {
        flex: 0 0 100%;
      }
    }
  }
}
