$font-primary: 'Russo One', sans-serif;
$font-secondary: 'Montserrat', sans-serif;


// bootstrap colors
$primary:       #25A1F5;
$secondary:     #FF4249;
$success:       green;
$info:          red;
$warning:       red;
$danger:        #FF4249;
$light:         lightgray;
$dark:          #2E2E2E;





// Spacing
$spacer: 30px;




// Body
$body-color:                $dark;




// grid
$grid-breakpoints: (
  xxs: 0px,
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;