$font-primary: 'Russo One', sans-serif;
$font-secondary: 'Montserrat', sans-serif;


// bootstrap colors
$primary:       #25A1F5;
$secondary:     #FF4249;
$success:       green;
$info:          red;
$warning:       red;
$danger:        #FF4249;
$light:         lightgray;
$dark:          #2E2E2E;


$g-color-green: 		#26C248;
$g-color-yellow: 		#FFBF01;
$g-color-red: 			#FE4A51;
$g-color-orange: 		#FF7B01;
$g-color-violet: 		#9428FF;
$g-color-brown: 		#88614F;
$g-color-pink: 			#D95E7F;





// Spacing
$spacer: 30px;




// Body
$body-color:                $dark;




// grid
$grid-breakpoints: (
  xxs: 0px,
  xs: 414px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;