	/*utilities*/

	.mb-40 {
		margin-bottom: 40px !important;
	}

.user-actions-none {
	pointer-events: none;
	cursor: default;
	user-select: none;
}


/*text utilities*/

.text-left 			{}
.text-center 		{text-align: center;}
.text-right 		{}
.text-uppercase 	{}
.text-lowercase 	{}
.text-bold 			{font-weight: 500;}

.font-primary {
	font-family: $font-primary;
}
.font-secondary {
	font-family: $font-secondary;
}

.font-size-16 {
	@include font-size(16);
}
.font-size-18 {
	@include font-size(18);
}
.font-size-20 {
	@include font-size(20);
}
.font-size-26 {
	@include font-size(26);
}

/*color utilities*/


/*flow utilities*/
.wrapper {
	z-index: 1;
	// padding-top: 102px;	
	main {
		overflow: hidden;
		height: auto;
		min-height: 100vh;
	}
}

.rub {
	font-style: normal !important;
	font-weight: bold;
}

.bg-features-4 {
	position: relative;
	margin: 0 0 200px 0;
	&::before {
		position: absolute;
	    content: '';
	    left: 55%;
	    top: -630px;
	    width: 2200px;
	    height: 1400px;
	    background-image: url(/img/bg/bg-features4-blue.svg);
	    transform: translateX(-50%);
	    background-size: contain;
	    background-position: center center;
	    background-repeat: no-repeat;
	}
}


.bg-price {
	position: relative;
	margin: 0 0 260px 0;
	&::before {
	    position: absolute;
	    content: '';
	    left: 50%;
	    transform: translateX(-50%);
	    top: -450px;
	    width: 2100px;
	    height: 1000px;
	    background-image: url(/img/bg/bg-price-blue.svg);
	    background-size: 100% 100%;
	    background-position: center center;
	    background-repeat: no-repeat;
	    z-index: -1;
	    pointer-events: none;
	}
}

.u-deco-robot {
	position: relative;
	width: 100%;
	height: 100%;
	transform: scale(1.6);
	background-image: url(/img/bg/bg-robot.svg);
	@include bg-contain;
	pointer-events: none;
	&.active {
		.u-deco-robot__shape {
			animation: anim-bubble 3000ms;
		}
	}
	.u-deco-robot__bubble {
		position: absolute;
		width: 43px;
		height: 43px;
		right: 145px;
		top: 58px;
		svg {
			width: 100%;
			height: 100%;
		}
	}
}
@keyframes anim-bubble {
	0% {
		opacity: 0;
		fill: transparent;
	}
	8% {
		opacity: 1;
		fill: transparent;
	}

	22% {
		opacity: 0;
		fill: transparent;
	}
	24% {
		opacity: 1;
		fill: transparent;
	}
	28% {
		opacity: 0;
		fill: transparent;
	}
	30% {
		opacity: 1;
		fill: transparent;
	}

	52% {
		opacity: 0;
		fill: transparent;
	}
	54% {
		opacity: 1;
		fill: transparent;
	}
	70% {
		opacity: 0;
		fill: transparent;
	}
	100% {
		opacity: 1;
		fill: #FFD862;
	}
}


.bg-wave-ltr {
	position: relative;
	margin-bottom: 240px;
	z-index: 1;
	&::before {
		position: absolute;
		content: '';
		width: 2304px;
		height: 1200px;
	    left: 50%;
	    bottom: -90px;
	    transform: translateX(-50%);
	    background-image: url(/img/bg-page-deco/bg-wave-ltr.svg);
	    background-size: contain;
	    background-position: 100% 100%;
	    background-repeat: no-repeat;
	    z-index: -1;
	    pointer-events: none;
	}
}
.bg-form {
	position: relative;
	&::before {
		position: absolute;
		content: '';
		right: -50%;
		top: -140%;
		width: 200%;
		height: 300%;
		background-image: url('/img/bg/bg-form-blue.svg');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
	}
}

.img-resp {
	width: 100%;
	height: auto;
}

.border-radius {
	border-radius: 8px;
}

.fz-0 {
	font-size: 0;
}

.img-circle {
	border-radius: 50%;
}

@media screen and (max-width: 1200px) {
	.bg-form {
		&::before {
			right: -50%;
			top: -140%;
			width: 200%;
			height: 300%;
			background-size: 100% 100%;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}

	.bg-wave-ltr {
		&::before {
		    bottom: -135px;
		}
	}
	.bg-wave-rtl {
		&::before {
			background-image: url(/img/bg/bg-features-mobile.svg);
		}
	}
	.bg-price {
		margin: 0 0 320px 0;
		&::before {
		    top: -560px;
		    width: 2600px;
		    height: 1300px;
		    background-image: url(/img/bg/bg-price-blue.svg);
		}
	}
	.u-deco-robot {
		background-image: url(/img/bg/bg-robot-full.svg);
		transform: scale(1.3);
		.u-deco-robot__bubble {display: none;}
	}
}

@media screen and (max-width: 992px) {
	.bg-form {
		&::before {
			right: -50%;
			top: -140%;
			width: 200%;
			height: 300%;
			background-size: 100% 100%;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	.bg-wave-ltr {
		margin-bottom: 140px;
		&::before {
			width: 1704px;
		    height: 800px;
		    left: 40%;
		    bottom: -111px;
		}
	}
	.bg-price {
		margin: 0 0 270px 0;
	}
	.u-deco-robot {
		transform: scale(1.1);
	}
}


@media screen and (max-width: 768px) {
	.bg-form {
		&::before {
			left: 50%;
			top: -485px;
			width: 2600px;
			height: 1200px;
			transform: translateX(-50%);
			background-size: 100% 100%;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	.bg-wave-ltr {
		margin-bottom: 140px;
		.container {
			width: 100%;
			max-width: 100%;
		}
		&::before {
			width: 2304px;
		    height: 1000px;
		    left: 50%;
		    top: 23%;
		    bottom: auto;
		    transform: translate(-50%, -50%);
		}
	}
	.bg-price {
		margin: 0 0 240px 0;
		&::before {
		    transform: translateX(-50%);
		    top: -530px;
		    width: 2800px;
		    height: 1300px;
		    background-image: url(/img/bg/bg-price-blue.svg);
		    background-size: 100% 100%;
		    background-position: center center;
		    background-repeat: no-repeat;
		    z-index: -1;
		    pointer-events: none;
		}
	}
}


@media screen and (max-width: 568px) {
	.bg-wave-ltr {
		&::before {
		    width: 2504px;
		    height: 1400px;
		    left: 50%;
		    top: 17%;
		    bottom: auto;
		    transform: translate(-50%, -50%);
		}
	}
	.bg-price {
		margin: 0 0 240px 0;
	}
	.sm-d-none {
		display: none;
	}
}
@media screen and (max-width: 414px) {
	.bg-form {
		&::before {
			top: -520px;
			width: 2800px;
			height: 1300px;
		}
	}
	.bg-price {
		margin: 0 0 190px 0;
	}
	.xs-d-none {
		display: none;
	}
}


// colors
.wrapper {


	&.page-green {
		.bg-features-4 {
			&::before {
				background-image: url(/img/bg/bg-features4-green.svg);
			}
		}
		.bg-form {
			&::before {
				background-image: url('/img/bg/bg-form-green.svg');
			}
		}
		.bg-price {
			&::before {
			    background-image: url(/img/bg/bg-price-green.svg);
			}
		}
	}



	&.page-red {
		.bg-features-4 {
			&::before {
				background-image: url(/img/bg/bg-features4-red.svg);
			}
		}
		.bg-form {
			&::before {
				background-image: url('/img/bg/bg-form-red.svg');
			}
		}
		.bg-price {
			&::before {
			    background-image: url(/img/bg/bg-price-red.svg);
			}
		}
	}



	&.page-yellow {
		.bg-features-4 {
			&::before {
				background-image: url(/img/bg/bg-features4-yellow.svg);
			}
		}
		.bg-form {
			&::before {
				background-image: url('/img/bg/bg-form-yellow.svg');
			}
		}
		.bg-price {
			&::before {
			    background-image: url(/img/bg/bg-price-yellow.svg);
			}
		}
	}



	&.page-orange {
		.bg-features-4 {
			&::before {
				background-image: url(/img/bg/bg-features4-orange.svg);
			}
		}
		.bg-form {
			&::before {
				background-image: url('/img/bg/bg-form-orange.svg');
			}
		}
		.bg-price {
			&::before {
			    background-image: url(/img/bg/bg-price-orange.svg);
			}
		}
	}




	&.page-violet {
		.bg-features-4 {
			&::before {
				background-image: url(/img/bg/bg-features4-violet.svg);
			}
		}
		.bg-form {
			&::before {
				background-image: url('/img/bg/bg-form-violet.svg');
			}
		}
		.bg-price {
			&::before {
			    background-image: url(/img/bg/bg-price-violet.svg);
			}
		}
	}



	&.page-brown {
		.bg-features-4 {
			&::before {
				background-image: url(/img/bg/bg-features4-brown.svg);
			}
		}
		.bg-form {
			&::before {
				background-image: url('/img/bg/bg-form-brown.svg');
			}
		}
		.bg-price {
			&::before {
			    background-image: url(/img/bg/bg-price-brown.svg);
			}
		}
	}


	&.page-pink {
		.bg-features-4 {
			&::before {
				background-image: url(/img/bg/bg-features4-pink.svg);
			}
		}
		.bg-form {
			&::before {
				background-image: url('/img/bg/bg-form-pink.svg');
			}
		}
		.bg-price {
			&::before {
			    background-image: url(/img/bg/bg-price-pink.svg);
			}
		}
	}
}