

.btn {
	position: relative;
	display: inline-block;
	border-radius: 40px;
	text-decoration: none;
	cursor: pointer;
	color: #fff !important;
	font-family: $font-primary;
	border: 0;
	z-index: 1;
	@include font-size(14);
	overflow: hidden;
	transition: 300ms;
	.btn-hover {
		position: absolute;
		left: 0;
		top: 0;
		width: 102%;
		height: 102%;
		@include gradient-red;
		border-radius: 40px;
		z-index: -1;
		transition: 300ms;
		opacity: 0;
		// transform: translateY(-100%);
	}
	.btn-text {
		z-index: 2;
	}

}

.btn-size-s {
		padding: 12px 26px;
}
.btn-size-m {
		padding: 12px 31px;
}
.btn-size-l {
	padding: 15px 30px;
}

.btn-primary {}
.btn-secondary {
	&:hover,
	&.active {
		animation: anim-btn 300ms;
		.btn-hover {
			opacity: 1;
		}
	}
}




.hamburger {
	margin: 0 -15px 0 0;
	border: 0 !important;
	outline: 0 !important;
	.hamburger-inner,
	.hamburger-inner::before,
	.hamburger-inner::after { background-color: $secondary}
	&.is-active {
		.hamburger-inner,
		.hamburger-inner::before,
		.hamburger-inner::after { background-color: $primary}
	}
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	height: 3px;
}
// 568
@include media-breakpoint-down(xs) {
	.hamburger {
		margin: 0 -15px 0 10px;
	}
}

.btn-close {
	background-color: transparent;
	border: 0;
	outline: 0;
	position: relative;
	width: 40px;
	height: 40px;
	transform: rotate(-45deg);
	cursor: pointer;
	transiton: 300ms;
	&::before {
		position: absolute;
		content: '';
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 20px;
		height: 2px;
		background-color: white;
	}
	&::after {
		position: absolute;
		content: '';
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 20px;
		width: 2px;
		background-color: white;
	}

	&:hover::after,
	&:hover::before { 
		background-color: white
	}
}




// colors
.wrapper {
	&.page-green {
		.btn-secondary {
			background-color: $g-color-yellow;
		}
		.quant-counter {
			&__holder {background-color: $secondary;}
		}
	}
	&.page-red {
		.btn-secondary {
			background-color: $g-color-yellow;
		}
		.quant-counter {
			&__holder {background-color: $secondary;}
		}
	}
	&.page-yellow {
		.btn-secondary {
			background-color: $g-color-red;
		}
		.quant-counter {
			&__holder {background-color: $g-color-green;}
		}
	}



	&.page-orange {
		.btn-secondary {
			background-color: $g-color-red;
		}
		.quant-counter {
			&__holder {background-color: $g-color-green;}
		}
	}




	&.page-violet {
		.btn-secondary {
			background-color: $g-color-yellow;
		}
	}



	&.page-brown {
		.btn-secondary {
			background-color: $g-color-red;
		}
		.quant-counter {
			&__holder {background-color: $g-color-green;}
		}
	}


	&.page-pink {
		.btn-secondary {
			background-color: $g-color-yellow;
		}
	}
}