
$item_h: 180px;

.features {
	@include flex-row(nowrap,space-between, center);
	width: 100%;
	position: relative;
	z-index: 2;
}
.features-list {
	flex: 0 0 60%;
	padding: 0 40px 0 0;
	position: relative;
}
.features-text {
	flex: 0 0 40%;
	padding: 0 0 0 40px;
}

.features-item {
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	z-index: 3;
	cursor: pointer;
	&.active {
		.features-item-number {
			color: $dark;
			top: -5px;
		}
	}
	.features-item-number {
		position: absolute;
		left: 0;
		top: 0;
		color: #fff;
		@include font-size(40);
		font-family: $font-primary;
		transition: 300ms;
	}	
	.features-item-content {
		height: 100%;
		text-align: center;
		@include flex-col(nowrap,center,center);
		transition: 300ms;

	}	
	.features-item-icon {
		display: block;
		margin: 0 0 12px 0;
		height: 74px;
		width: 74px;
		@include bg-contain;

	}	
	.features-item-name {
		display: block;
		line-height: 1;
		text-align: center;
		color: $dark;
		font-family: $font-primary;
		@include font-size(16);
	}	
	.features-item-deco {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}	
}


// .features.items-3 {
// 	height: ($item_h * 2) * (1.15);
// 	.features-item:nth-child(1) {
// 		top: 0;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 	}
// 	.features-item:nth-child(2) {
// 		top: 20%;
// 		right: 15%;
// 	}
// 	.features-item:nth-child(3) {
// 		top: 20%;
// 		left: 15%;
// 	}
// }



// .features.items-5 {
// 	height: ($item_h * 3) * (0.8);
// 	.features-item:nth-child(1) {
// 		top: 0;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 	}
// 	.features-item:nth-child(2) {
// 		right: 4%;
// 		top: 10%;
// 	}
// 	.features-item:nth-child(3) {
// 		right: 16%;
// 		bottom: 0%;
// 	}
// 	.features-item:nth-child(4) {
// 		left: 16%;
// 		bottom: 0%;
// 	}
// 	.features-item:nth-child(5) {
// 		left: 4%;
// 		top: 10%;
// 	}
// }



@media screen and (max-width: 1200px) and (min-width: 993px) {
	.features-list.items-6 {
		height: ($item_h * 4) * (0.78);
		.features-item:nth-child(1) {
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		.features-item:nth-child(2) {
			right: 0%;
			top: 18%;
		}
		.features-item:nth-child(3) {
			right: 0%;
			top: 55%;
		}
		.features-item:nth-child(4) {
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		.features-item:nth-child(5) {
			left: 0%;
			top: 18%;
		}
		.features-item:nth-child(6) {
			left: 0%;
			top: 55%;
		}
	}
}






@media screen and (min-width: 1200px) {
	.features-list.items-4 {
		height: ($item_h * 2) * (1.15);
		.features-item:nth-child(1) {
			top: 0;
			right: 15%;
		}
		.features-item:nth-child(2) {
			bottom: 0;
			right: 15%;
		}
		.features-item:nth-child(3) {
			top: 0;
			left: 15%;
		}
		.features-item:nth-child(4) {
			bottom: 0;
			left: 15%;
		}
	}


	.features-list.items-6 {
		height: ($item_h * 4) * (0.92);
		.features-item:nth-child(1) {
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		.features-item:nth-child(2) {
			right: 0%;
			top: 17%;
		}
		.features-item:nth-child(3) {
			right: 0%;
			top: 53%;
		}
		.features-item:nth-child(4) {
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		.features-item:nth-child(5) {
			left: 0%;
			top: 17%;
		}
		.features-item:nth-child(6) {
			left: 0%;
			top: 53%;
		}
	}
}



@media screen and (max-width: 1200px) {
	.features-item {
		position: absolute;
		width: 140px;
		height: 140px;
		.features-item-icon {
			display: block;
			margin: 0 0 12px 0;
			height: 62px;
			width: 62px;
		}
	}
}



@media screen and (max-width: 992px) {
	.features {
		@include flex-row(wrap, center, flex-start);
	}
	.features-list {
		flex: 1 1 100%;
		@include flex-row(wrap, flex-start, flex-start);
		margin: 0 0 40px 0;
		padding: 0 0 0 0 !important;

		.features-item {
			position: relative;
			flex: 0 0 33.33%;
			max-width: 33.33%;
			height: auto;
			padding: 5px;
			width: auto;
			top: auto;
			left: auto;
			transform: none;
			&.active {
				.features-item-content {
					background-color: rgba(255,255,255,.85);
					transform: scale(1.02);
				}
				.features-item-number {
					color: $dark;
				}
			}
			.features-item-deco {
				display: none;
			}
			.features-item-content {
				@include flex-row(wrap, flex-start, center);
				padding: 4px 15px;
				background-color: rgba(255,255,255,.5);
				border-radius: 30px;
				height: auto;
				.features-item-icon {
					flex: 0 0 30px;
					max-width: 30px;
					margin: 0 12px 0 0;
				}
				.features-item-name {
					// flex: 1 1 100%;
					text-align: left;
				}
			}
			.features-item-number {
				left: auto;
				right: 0;
				top: -11px;
				z-index: 2;
			}
		}
	}
	.features-text {
		flex: 1 1 100%;
		padding: 0 0 0 0 !important;
	}
}



@media screen and (min-width: 569px) and (max-width: 768px) {
	.features {
		@include flex-row(wrap, center, flex-start);
	}
	.features-list {
		flex: 1 1 100%;
		@include flex-row(wrap, center, flex-start);
		margin: 0 0 40px 0;


		.features-item {
			position: relative;
			flex: 0 0 170px;
			max-width: 170px;
			height: 170px;
			margin: 12px 12px;
			background-color: rgba(255,255,255,.5);
			border-radius: 50%;

			// вместо этого задать условие в js
			// на экранах меньше 768 отключить события

			// &.active {
			// 	.features-item-content {
			// 		background-color: transparent;
			// 		transform: none;
			// 	}
			// 	.features-item-number {
			// 		color: white
			// 	}
			// }

			.features-item-deco {
				display: none;
			}
			.features-item-content {
				background-color: transparent;
				height: 100%;
				border-radius: 50%;
				@include flex-col(wrap, center, center);
				.features-item-icon {
					flex: 0 0 45px;
					max-width: 45px;
					height: 45px;
					margin: 0 0 15px 0;
				}
				.features-item-name {
					// flex: 1 1 100%;
					text-align: left;
				}
			}
			.features-item-number {
				left: 10px;
				right: auto;
				top: 0;
				z-index: 2;
			}
		}
	}
	.features-text {
		flex: 1 1 100%;
		display: none;
	}
}




@media screen and (max-width: 568px) {
	.features {
		@include flex-row(wrap, center, flex-start);
		margin: 0 0 180px 0;
	}
	.features-list {
		flex: 1 1 100%;
		@include flex-row(wrap, flex-start, flex-start);
		margin: 0 0 0px 0;


		.features-item {
			position: relative;
			flex: 0 0 100%;
			max-width: 100%;
			height: auto;
			padding: 5px;
			width: auto;
			top: auto;
			left: auto;
			transform: none;
			margin-bottom: 8px;
			br {display: none;}
			&.active {
				.features-item-content {
					background-color: rgba(255,255,255,.85);
					transform: scale(1.02);
				}
				.features-item-number {
					color: $dark;
				}
			}
			.features-item-deco {
				display: none;
			}
			.features-item-content {
				@include flex-row(wrap, flex-start, center);
				padding: 15px 25px 15px 25px;
				background-color: rgba(255,255,255,.5);
				border-radius: 30px;
				height: auto;
				.features-item-icon {
					flex: 0 0 40px;
					max-width: 40px;
					margin: 0 22px 0 0;
				}
				.features-item-name {
					text-align: left;
					@include font-size(16);
				}
			}
			.features-item-number {
				left: auto;
				right: 0;
				top: -11px;
				z-index: 2;
			}
		}
	}
	.features-text {
		display: none;
	}
}