.header {
	width: 100%;
	height: 102px;
	z-index: 90;
	.container {
		height: 100%;
		@include flex-row(nowrap, flex-start, center);
	}
	.logo {
		position: relative;
		flex: 0 0 255px;
		width: 255px;
		height: 56px;
		z-index: 1;

		&::before {
			position: absolute;
			content: '';
			right: -100px;
			top: -45px;
			width: 900px;
			height: 600px;
			z-index: -1;
			pointer-events: none;
			background-image: url(/img/bg-page-deco/bg-logo.svg);
			background-size: contain;
			background-position: top right;
			background-repeat: no-repeat;
		}
	}
	.header-nav {
		margin: 0 55px 0 auto;
		height: 100%;
		@include flex-row(nowrap, flex-start, center);
	}
	.header-nav-link {
		position: relative;
		margin: 0 2px;
		padding: 5px 12px;
		text-decoration: none;
		font-weight: 500;
		color: $dark;
		z-index: 1;
		transition: 300ms;
		user-select: none;
		&.active {
			&::after {
				@include pseudo;
				left: 50%;
				transform: translateX(-50%);
				bottom: 2px;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: $secondary;
				transition: 300ms;
			}
		}
		&::before {
			@include pseudo;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			background-color: $secondary;
			z-index: -1;
			pointer-events: none;
			border-radius: 25px;
			transform: translate(-50%, -50%) scale(.8);
			transition: 300ms;
			opacity: 0;
		}
		&:hover {
			&.active:after {
				bottom: -7px;
			}
			&::before {
				transform: translate(-50%, -50%) scale(1);
				opacity: 1;
			}
			color: #fff;

		}
	}
	.header-tel {
		@include flex-row(nowrap,flex-start,center);
		font-family: $font-primary;
		text-decoration: none;
		transition: 300ms;
		svg {
			margin: 0 14px 0 0;
		}
	}
}










// colors
.wrapper {


	&.page-green {
		.header {
			.logo {
				&::before {
					background-image: url(/img/bg-page-deco/bg-logo-green.svg);
				}
			}
			.header-tel path {
				fill: $g-color-yellow;
			}
			.header-nav-link {
				&::before {
					background-color: $g-color-yellow;
				}
			}
		}
	}



	&.page-red {
		.header {
			.logo {
				&::before {
					background-image: url(/img/bg-page-deco/bg-logo-red.svg);
				}
			}
			.header-tel path {
				fill: $g-color-yellow;
			}
			.header-nav-link {
				&::before {
					background-color: $g-color-yellow;
				}
			}
		}
	}



	&.page-yellow {
		.header {
			.logo {
				&::before {
					background-image: url(/img/bg-page-deco/bg-logo-yellow.svg);
				}
			}
			.header-tel path {
				fill: $g-color-red;
			}
			.header-nav-link {
				&::before {
					background-color: $g-color-red;
				}
			}
		}
	}



	&.page-orange {
		.header {
			.logo {
				&::before {
					background-image: url(/img/bg-page-deco/bg-logo-orange.svg);
				}
			}
			.header-tel path {
				fill: $g-color-red;
			}
			.header-nav-link {
				&::before {
					background-color: $g-color-red;
				}
			}
		}
	}




	&.page-violet {
		.header {
			.logo {
				&::before {
					background-image: url(/img/bg-page-deco/bg-logo-violet.svg);
				}
			}
			.header-tel path {
				fill: $g-color-yellow;
			}
			.header-nav-link {
				&::before {
					background-color: $g-color-yellow;
				}
			}
		}
	}



	&.page-brown {
		.header {
			.logo {
				&::before {
					background-image: url(/img/bg-page-deco/bg-logo-brown.svg);
				}
			}
			.header-tel path {
				fill: $g-color-red;
			}
			.header-nav-link {
				&::before {
					background-color: $g-color-red;
				}
			}
		}
	}


	&.page-pink {
		.header {
			.logo {
				&::before {
					background-image: url(/img/bg-page-deco/bg-logo-pink.svg);
				}
			}
			.header-tel path {
				fill: $g-color-yellow;
			}
			.header-nav-link {
				&::before {
					background-color: $g-color-yellow;
				}
			}
		}
	}
}
