.hero {
	position: relative;
	margin-top: 100px;
	margin-bottom: 300px;
	&::before {
		position: absolute;
		content: '';
		width: 90px;
		height: 325px;
		left: 0%;
		top: 60%;
		z-index: -1;
		background-image: url(/img/bg/bg-promo-small-blue.svg);
		background-size: contain;
		background-position: top left;
		background-repeat: no-repeat;
	}
	.hero-image {
		position: relative;
		width: 100%;
		z-index: 1;
		transform: scale(1.25);
		&::before {
			position: absolute;
			content: '';
			width: 112%;
			height: 102%;
			left: 50%;
			top: 50%;
			transform: translate(-47%, -52%);
			z-index: -2;
			background-image: url(/img/bg-page-deco/bg-promo-photo.svg);
			// background-size: contain;
			@include bg-contain;
		}
		.hero-image-gear {			
			&:nth-of-type(1) {
				width: 90px;
				height: 90px;
				left: 30%;
				top: 6.5%;
				background-image: url(/img/icons/i-gear-type1-blue.svg);
			}
			&:nth-of-type(2) {
				width: 110px;
				height: 110px;
				right: -7%;
				top: 44%;
				background-image: url(/img/icons/i-gear-type3-red.svg);
			}
			&:nth-of-type(3) {
				width: 61px;
				height: 61px;
				right: -1%;
				top: 65%;
				background-image: url(/img/icons/i-gear-type2-red.svg);
			}
		}
	}
	.hero-image-photo {
		position: relative;
		z-index: 1;
	}

	.hero-deco-rocket {
		position: absolute;
		bottom: -63%;
		left: -1%;
		width: 80%;
		height: 80%;
		z-index: -1;

		.rocket-body {
			position: absolute;
			left: -93px;
			top: -102px;
			width: 110px;
			height: 110px;
			&.active {
				animation: anim-rocket-body 0.6s infinite linear;
				animation-play-state: running;
			}

		}
		.rocket-fire {
			position: absolute;
			left: -25px;
			top: -29px;
			width: 50px;
			height: 50px;
			&.active {
				animation: anim-rocket-fire 0.6s infinite linear;
				animation-play-state: running;
			}
		}
		.rocket-path {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: auto;
		}
	}
}







// colors
.wrapper {


	&.page-green {
		.hero {
			&::before {
				background-image: url(/img/bg/bg-promo-small-green.svg);
			}
			.hero-image {
				&::before {
					background-image: url(/img/bg-page-deco/bg-promo-photo-green.svg);
				}
				.hero-image-gear {			
					&:nth-of-type(1) {
						background-image: url(/img/icons/i-gear-type1-yellow.svg);
					}
					&:nth-of-type(2) {
						background-image: url(/img/icons/i-gear-type3-yellow.svg);
					}
					&:nth-of-type(3) {
						background-image: url(/img/icons/i-gear-type2-red.svg);
					}
				}
			}
		}
	}



	&.page-red {
		.hero {
			&::before {
				background-image: url(/img/bg/bg-promo-small-red.svg);
			}
			.hero-image {
				&::before {
					background-image: url(/img/bg-page-deco/bg-promo-photo-red.svg);
				}
				.hero-image-gear {			
					&:nth-of-type(1) {
						background-image: url(/img/icons/i-gear-type1-yellow.svg);
					}
					&:nth-of-type(2) {
						background-image: url(/img/icons/i-gear-type3-yellow.svg);
					}
					&:nth-of-type(3) {
						background-image: url(/img/icons/i-gear-type2-red.svg);
					}
				}
			}
		}
	}



	&.page-yellow {
		.hero {
			&::before {
				background-image: url(/img/bg/bg-promo-small-yellow.svg);
			}
			.hero-image {
				&::before {
					background-image: url(/img/bg-page-deco/bg-promo-photo-yellow.svg);
				}
				.hero-image-gear {			
					&:nth-of-type(1) {
						background-image: url(/img/icons/i-gear-type1-red.svg);
					}
					&:nth-of-type(2) {
						background-image: url(/img/icons/i-gear-type3-red.svg);
					}
					&:nth-of-type(3) {
						background-image: url(/img/icons/i-gear-type2-yellow.svg);
					}
				}
			}
		}
	}



	&.page-orange {
		.hero {
			&::before {
				background-image: url(/img/bg/bg-promo-small-orange.svg);
			}
			.hero-image {
				&::before {
					background-image: url(/img/bg-page-deco/bg-promo-photo-orange.svg);
				}
				.hero-image-gear {			
					&:nth-of-type(1) {
						background-image: url(/img/icons/i-gear-type1-red.svg);
					}
					&:nth-of-type(2) {
						background-image: url(/img/icons/i-gear-type3-red.svg);
					}
					&:nth-of-type(3) {
						background-image: url(/img/icons/i-gear-type2-yellow.svg);
					}
				}
			}
		}
	}




	&.page-violet {
		.hero {
			&::before {
				background-image: url(/img/bg/bg-promo-small-violet.svg);
			}
			.hero-image {
				&::before {
					background-image: url(/img/bg-page-deco/bg-promo-photo-violet.svg);
				}
				.hero-image-gear {			
					&:nth-of-type(1) {
						background-image: url(/img/icons/i-gear-type1-yellow.svg);
					}
					&:nth-of-type(2) {
						background-image: url(/img/icons/i-gear-type3-yellow.svg);
					}
					&:nth-of-type(3) {
						background-image: url(/img/icons/i-gear-type2-red.svg);
					}
				}
			}
		}
	}



	&.page-brown {
		.hero {
			&::before {
				background-image: url(/img/bg/bg-promo-small-brown.svg);
			}
			.hero-image {
				&::before {
					background-image: url(/img/bg-page-deco/bg-promo-photo-brown.svg);
				}
				.hero-image-gear {			
					&:nth-of-type(1) {
						background-image: url(/img/icons/i-gear-type1-red.svg);
					}
					&:nth-of-type(2) {
						background-image: url(/img/icons/i-gear-type3-red.svg);
					}
					&:nth-of-type(3) {
						background-image: url(/img/icons/i-gear-type2-yellow.svg);
					}
				}
			}
		}
	}


	&.page-pink {
		.hero {
			&::before {
				background-image: url(/img/bg/bg-promo-small-pink.svg);
			}
			.hero-image {
				&::before {
					background-image: url(/img/bg-page-deco/bg-promo-photo-pink.svg);
				}
				.hero-image-gear {			
					&:nth-of-type(1) {
						background-image: url(/img/icons/i-gear-type1-yellow.svg);
					}
					&:nth-of-type(2) {
						background-image: url(/img/icons/i-gear-type3-yellow.svg);
					}
					&:nth-of-type(3) {
						background-image: url(/img/icons/i-gear-type2-red.svg);
					}
				}
			}
		}
	}
}