.img-decorated {
	position: relative;
	z-index: 1;
	&::before {
		position: absolute;
		content: '';
	    left: -11%;
	    top: -4%;
	    width: 119%;
	    height: 119%;
	    z-index: -1;
	    background-image: url(/img/bg-page-deco/bg-slider-photo.svg);
	    @include bg-contain;
	}
}