.img-decorated {
	position: relative;
	z-index: 1;
	&::before {
		position: absolute;
		content: '';
	    left: -11%;
	    top: -4%;
	    width: 119%;
	    height: 119%;
	    z-index: -1;
	    background-image: url(/img/bg-page-deco/bg-slider-photo.svg);
	    @include bg-contain;
	}
}







// colors
.wrapper {


	&.page-green {
		.img-decorated {
			&::before {
			    background-image: url(/img/bg/bg-slider-photo-green.svg);
			}
		}
	}



	&.page-red {
		.img-decorated {
			&::before {
			    background-image: url(/img/bg/bg-slider-photo-red.svg);
			}
		}
	}



	&.page-yellow {
		.img-decorated {
			&::before {
			    background-image: url(/img/bg/bg-slider-photo-yellow.svg);
			}
		}
	}



	&.page-orange {
		.img-decorated {
			&::before {
			    background-image: url(/img/bg/bg-slider-photo-orange.svg);
			}
		}
	}




	&.page-violet {
		.img-decorated {
			&::before {
			    background-image: url(/img/bg/bg-slider-photo-violet.svg);
			}
		}
	}



	&.page-brown {
		.img-decorated {
			&::before {
			    background-image: url(/img/bg/bg-slider-photo-brown.svg);
			}
		}
	}


	&.page-pink {
		.img-decorated {
			&::before {
			    background-image: url(/img/bg/bg-slider-photo-pink.svg);
			}
		}
	}
}